* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}
.navigation_cate{
    background-color: #e1e1e1;
}
.navigation-content{
    background-color: #e1e1e1;
}

.rower_cate{
    background-color: #e1e1e1;  
}

