* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  background-color: #e1e1e1;
  font-family: 'Roboto';
}



.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -4px;
  margin-right: -4px;
  margin-top: 0px;
}
.grid {
  width: 100%;
  display: block;
  padding: 0;
}

.grid.wide {
  max-width: 1231px;
  margin: 0 auto;
  margin-left: 373px;
}
.grid.wide.product {
  max-width: 1030px;
  margin: 0 auto;
  margin-left: 373px;
}
.grid.wide.product_px {
  max-width: 1230px;
  margin: 0 auto;
  margin-left: 373px;
}
.grid.wide.product_similar {
  max-width: 1200px;
  margin: 0 auto;
  margin-left: 383px;
}
.grid.wide.navigation_header {
  max-width: 1006px;
  margin: 0 auto;
  margin-left: 373px;
}

.suggestions-main {
  display: flex;
}
.suggestions_main_category{
  display: flex;
  width: 80%;
  margin-left: 26px;
}

