/* style */
.container-sticky {
    position: sticky;
    top: 0px;
    z-index: 999;
    margin-left: -224px;

}

.sticky-item {
    background-color: #fff;
    border-radius: 4px;
    width: 1230px;
}

.sticky-item-box-title {
    font-size: 2rem;
    font-weight: 400;
    padding: 20px 20px;
}

.sticky-list {
    display: flex;
    background-color: var(--white-color);
    justify-content: space-between;
}

.sticky-list-tab {
    border: 2px solid #ccc;
    cursor: pointer;
    border-radius: 4px;
    padding: 0 2px;
    width: 150px;
}

.sticky-box {
    font-size: 12px;
    padding: 10px 0;
    text-align: center;
    color: rgb(120, 120, 120);
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    display: -webkit-box;
}

.sticky-list-img {
    width: 60px;
    max-width: 100%;
    display: flex;
    margin: auto;
    border-radius: 12px;
    margin-top: 10px;
}

.sticky-active {
    border: 2px solid rgb(13, 92, 182);
    border-radius: 4px;
    display: block;
}


/* Container  */
.cMnFhK {
    background: rgb(245, 245, 250);
    margin-top: 16px;
    border-radius: 4px;
  }
  .cMnFhK  .header{
    position: sticky;
      top: 0px;
      z-index: 998;
  
  }
  .cMnFhK > .header {
    display: flex;
    background: rgb(245, 245, 250);
    border-radius: 4px 4px 0px 0px;
    flex-direction: column;
  }
  
  .kFdEkv {
    display: flex;
    padding: 10px 16px;
    background-color: white;
    flex: 1 1 0%;
    font-size: 20px;
    line-height: 28px;
    text-transform: capitalize;
    margin-bottom: 4px;
    border-radius: 4px;
    font-weight: initial;
  }
  .bSYAiy {
    display: grid;
    margin-bottom: 4px;
    overflow: auto;
    position: relative;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 4px;
  }
  .bSYAiy .tab.active {
    border: 1px solid rgb(13, 92, 182);
  }
  .bSYAiy .tab {
    border: 1px solid white;
    background-color: white;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
    min-height: 78px;
    border-radius: 4px;
    padding: 4px 8px;
  }
  .bSYAiy .tab {
    border: 1px solid white;
    background-color: white;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
    min-height: 78px;
    border-radius: 4px;
    padding: 4px 8px;
  }